.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}

.inputOrCondition {
  width: 45%;
  margin-right: 2.5%;
}

.alarmAndMessage {
  width: 45%;
  margin-left: 2.5%;
}

.inputOrCondition > div {
  background-color: lightgray;
  width: 100%;
  height: 50px;
  border: none;
}

.alarmAndMessage > div {
  background-color: lightgray;
  width: 100%;
  height: 50px;
  border: none;
}
