.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 0;
}

.container > h3 {
  background-color: lightblue;
  color: black;
  padding: 0 5px;
  font-size: 25px;
  margin: 15px 0;
}

.container > button {
  background-color: #e5e5e5;
  text-align: center;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 40px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
  width: 250px;
}
